POSTGRES_USER=productops
POSTGRES_PASSWORD=productops_password
POSTGRES_DB=productops_development
DATABASE_URL=postgres://productops:productops_password@postgres:5432/productops_development
RAILS_MASTER_KEY=
RISK_ENGINE_URL=http://risk-engine-service:8080
